body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.container.h1 {
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 40px;
}

#recipes {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

#recipes div {
  width: 27vw;
  background: #b1c6ec;
  border: 2px solid #000;
  border-radius: 2%;
  border-style: outset;
  cursor: pointer;
}

#recipes h2 { 
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
}

a { text-decoration: none; }

.pasta, 
.casserole, 
.rice {
  width: 25vw;
  border-radius: 5%;
  margin-top: 0.8rem;
}
